@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family : work
}

/* @layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
} */

@font-face {
  font-family: work;
  src: url("font/WorkSans-Regular.ttf");
}
@font-face {
  font-family: work-b;
  src: url("font/WorkSans-SemiBold.ttf");
}